In [4]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
for i in fruits:
    print(i, end='*')

apple*banana*cherry*date*elderberry*

In [5]:
for x in range(5):
    print(x)

0
1
2
3
4

In [7]:
for x in range(1, 6):
    print(x)

1
2
3
4
5

In [8]:
for x in range(1, 21, 2):
    print(x)

1
3
5
7
9
11
13
15
17
19

-  print your name 5 times
- print odd numbers from 1 to 20 using condition statement not gap
- print even numbers from 0 to 20 using gap

In [9]:
for c in range(5):
    print("areeba")

areeba
areeba
areeba
areeba
areeba

In [10]:
for x in range(1,21):
    if x%2 != 0:
        print(x)

1
3
5
7
9
11
13
15
17
19

In [11]:
for x in range(0,21,2):
    print(x)

0
2
4
6
8
10
12
14
16
18
20

In [14]:
x = 0
while x < 5:
    print(x)
    x+=1

0
1
2
3
4

In [15]:
x = 0
while x < 5:
    print("areeba")
    x += 1

areeba
areeba
areeba
areeba
areeba

In [16]:
x = 0
while x <21:
    if x % 2 != 0:
        print(x)
    x += 1

1
3
5
7
9
11
13
15
17
19

break and continue

In [17]:
fruits = ['apple', 'banana', 'cherry','onion', 'date', 'elderberry']
for i in fruits:
    if i == 'onion':
        break
    print(i, end=' ')

apple banana cherry

In [18]:
fruits = ['apple', 'banana', 'cherry','onion', 'date', 'elderberry']
for i in fruits:
    if i == 'onion':
        continue
    print(i, end=' ')

apple banana cherry date elderberry

- check whether a number is even or odd
- check whether two sides of a rectangle is equal or not
- check whether a triangle is an equilateral triangle or iscoceles triangle
- check whether a character entered by user is vowel or not
- calculate the gross salary of an employee where the basic salaray is 50000, DA is 5% of basic salary and HRA is 10% of basic salary

In [1]:
s1 = 5
s2 = 5
s3 = 8
if s1 == s2 and s2 == s3 and s1 == s3:
    print("triangle is an equilateral triangle")
elif s1 == s2 or s2 == s3 or s1 == s3:
    print("triangle is an isosceles triangle")
else:
    print("triangle is a scalene triangle")

triangle is an isosceles triangle