In [11]:
student = {
    "name": input("Enter student's name: "),
    "age": 20,
    "class" : "12th",
    "gender" : "M"
}
print(student)

{'name': 'john', 'age': 20, 'class': '12th', 'gender': 'M'}

- how to declare it
- how to access key and value pairs
- how to use loops in dictionary
- indexing in dictionary

In [4]:
temp = {
    'lucknow' : [30,35,45],
    'delhi' : [32,36,40],
    'mumbai' : [28,30,35],
}
print(temp)

{'lucknow': [30, 35, 45], 'delhi': [32, 36, 40], 'mumbai': [28, 30, 35]}

In [12]:
info = dict(name = input("Enter the name"), age = 20, grade = "12th")
print(info)

{'name': 'John', 'age': 20, 'grade': '12th'}

In [14]:
#1st method to access value through key
print(student['name'])
print(info['age'])

john
20

In [16]:
#2nd method to access value through key
print(student.get('class'))
print(info.get('grade'))

12th
12th

In [17]:
# to add new key-value pair
student['city'] = 'New York'
print(student)

{'name': 'john', 'age': 20, 'class': '12th', 'gender': 'M', 'city': 'New York'}

In [ ]:
#to delete a key-value pair
del student['gender']

In [22]:
print(student)

{'name': 'john', 'class': '12th', 'city': 'New York'}

In [23]:
student = {
    "name": ['John', 'Doe','Jane','Smith'],
    "age": [20, 21, 22, 23],
}
print(student)

{'name': ['John', 'Doe', 'Jane', 'Smith'], 'age': [20, 21, 22, 23]}

In [26]:
student['name'].append('Alice')
print(student)

{'name': ['John', 'Doe', 'Jane', 'Smith', 'Alice', 'Alice'], 'age': [20, 21, 22, 23]}

In [29]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age'])
dict_values([['John', 'Doe', 'Jane', 'Smith', 'Alice', 'Alice'], [20, 21, 22, 23]])
dict_items([('name', ['John', 'Doe', 'Jane', 'Smith', 'Alice', 'Alice']), ('age', [20, 21, 22, 23])])

In [34]:
for v in student:
    print(v , end=' ')

name age

In [36]:
for k,v in info.items():
    print(f"{k} : {v}")

name : John
age : 20
grade : 12th

In [39]:
a = 10
b = 5
sum = a + b
print("sum of",a,"and",b,"is",sum)
print(f"sum of {a} and {b} is {sum}")

sum of 10 and 5 is 15
sum of 10 and 5 is 15

In [40]:
company = {
    "emp001" : {"name": "Alice", "age": 30, "department": "HR"},
    "emp002" : {"name": "Bob", "age": 25, "department": "IT"},
    "emp003" : {"name": "Charlie", "age": 28, "department": "Finance"}
}
print(company)

{'emp001': {'name': 'Alice', 'age': 30, 'department': 'HR'}, 'emp002': {'name': 'Bob', 'age': 25, 'department': 'IT'}, 'emp003': {'name': 'Charlie', 'age': 28, 'department': 'Finance'}}

In [41]:
from pprint import pprint

In [45]:
pprint(company)

{'emp001': {'age': 30, 'department': 'HR', 'name': 'Alice'},
 'emp002': {'age': 25, 'department': 'IT', 'name': 'Bob'},
 'emp003': {'age': 28, 'department': 'Finance', 'name': 'Charlie'}}

In [43]:
company['emp002']['department']

'IT'

In [ ]:
#calculate the average temperature of lucknow